body {
  padding-top: 56px;
}

#Description1 { 
  height : 300px;
}


.hrindex{
margin-top:1rem;
margin-bottom:1rem;
border:0;
border-top:2px solid black;
width:650%;
}

.hrindexadmin{
  margin-top:1rem;
  margin-bottom:1rem;
  border:0;
  border-top:2px solid black;
  width:100%;
  }


.hrindexdash{
  margin-top:1rem;
  margin-bottom:1rem;
  border:0;
  border-top:2px dashed black;
  width: 90%;
  }


.borderbox { 
  border: 2px solid black;
}

.label_bold{ 
   font-size: 20px;
   font-weight: bold;
}
.dateparagraph { 
  font-size: 12px;
}

 
